#text {
    width: var(--content-width);
    font: 22px 'Courier Std', sans-serif;
    margin-top: 10px;
}

#titlediv {
    width: var(--content-width);
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#title {
    font: 30px 'Calibri', sans-serif;
}