#text {
    width: var(--content-width);
    font: 22px 'Courier Std', sans-serif;
    margin-top: 10px;
}

#titlediv {
    width: var(--content-width);
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#title {
    font: 30px 'Calibri', sans-serif;
}

@media (max-width:750px){
    #text {
        box-sizing: border-box;
        width: 100%;
        padding: 0px 20px 0px 20px;
        font: 22px 'Courier Std', sans-serif;
        margin-top: 10px;
    }
    
    #titlediv {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
}